

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}
body{
    overflow-x: hidden;
}
.main{
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}
nav{
    width: 100%;
    height: 7vh;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 40px 10px;
    justify-content: space-between;
}
nav .part-1{
    font-size: 1.7vw;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

}
.part-1 i{
    rotate: -40deg;
    font-size:2vw;
}
nav .part-2{
    font-size: 1.4vw;
    display: flex;
    gap: 2.5vw;
    align-items: center;
}

nav button{
    outline: none;
    border: 1 px solid black;
    background-color: transparent;
    font-size: 1.3vw;
    padding: 10px 30px;
    border-radius: 10px;
   align-items: center;
}


.center{
    width: 100%;
    height: 78vh;
    display: flex;
    padding: 10px 10px;
    align-items: center;
    /* background-color: red; */
}
.center .center-1{
    width: 50%;
    height: 100%;
    /* background-color: green; */
}
.center-1 h1{
    font-size: 3.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 0px 5px 10px ;
    width: 90%;
    letter-spacing: 5px;
    /* background-color: red; */
}
.center-1 p{
    font-size: 1.5vw;
    padding: 10px 0px 5px 10px ;
    width: 70%;
}
.center .btn{
    width: 70%;
    display: flex;
     padding: 10px 0px 5px 30px ;
    justify-content: center;
    /* background-color: red; */
}
.center-1 button{
    outline: none;
    border: 1px solid black;
    background-color: #000;
    color: #fff;
    padding: 14px 20px;
    font-size: 1.2vw;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
}
.center .center-2{
    width: 53%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /* background-color: red; */
}
.center-2 img{
    /* width: 100%; */
    height: 95%;
    position: absolute;
    right: 0;
    padding: 20px 0px 0px 0px ;
    object-fit: contain;

}
.section1Bottom{
    width: 100%;
    height: 10%;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1Bottom img{
    width: 10%;
}





.section-2{
    width: 100%;
    height: 140vh;
    margin-top: 50px;
    /* background-color: red; */
}
.service{
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}
.service h1{
    font-size: 2.5vw;
    background-color: #9AE975;
    padding: 10px 20px;
    border-radius: 20px;
}
.service p{
    width: 44%;
    line-height: 1.2vw;
    letter-spacing: 1.2px;
    font-size: 1.07vw;
    text-transform: capitalize;
    font-weight: 400;
}


.container{
    width: 100%;
    min-height:80vh;
    height: auto;
    margin-top: 3vw;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    gap: 50px;
}
.elem{
    width: 48%;
    height: 350px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid black;
    /* background-color: green; */
    padding: 40px 30px;
    display: flex;
    gap: 60px;
    box-shadow: 4px 10px 0px black;
}
.elem-part1{
    width: 50%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.elem-part1 h1{
    padding: 0px 6px;
    letter-spacing: 2px;
    line-height: 3vw;
    border-radius: 20px;
    font-size: 2.7vw;
    text-align: center;
    font-weight: 500;
    background-color: #9AE975;
}
.elem-part1 h3{
    font-size: 1.8vw;
}
.elem-part1 i{
    background-color: black;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    color: white;
    margin-right: 10px;
    padding: 5px 5px;
    font-size: 1.5vw;
    font-weight: 400;
}
.elem-part2{
    width: 50%;
    height: 90%;
    /* background-color: rgb(237, 158, 158); */
}
.elem-part2 img{

    height: 100%;
    object-fit: cover;
}

.black{
    color: #fff;
    background-color: black;
}

.black2 h1{
    background-color: #fff;
    color: #000000;
}
.black i{
    background-color: white;
    color: black;
}