

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}
body{
    overflow-x: hidden;
}
.main{
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}
nav{
    width: 100%;
    height: 7vh;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 40px 10px;
    justify-content: space-between;
}
nav .part-1{
    font-size: 1.7vw;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

}
.part-1 i{
    rotate: -40deg;
    font-size:2vw;
}
nav .part-2{
    font-size: 1.4vw;
    display: flex;
    gap: 2.5vw;
    transition: all 0.3 linear;
    align-items: center;
    
}
.part-2 h4:hover{
    border-bottom: 3px solid #719c4c;
    cursor: pointer;
}
nav button{
    outline: none;
    border: 1 px solid black;
    background-color: transparent;
    font-size: 1.3vw;
    padding: 10px 30px;
    border-radius: 10px;
   align-items: center;
   cursor: pointer;
}
nav button:hover{
    background-color: #B5E48D;
}

.center{
    width: 100%;
    height: 78vh;
    display: flex;
    padding: 10px 10px;
    align-items: center;
    /* background-color: red; */
}
.center .center-1{
    width: 50%;
    height: 100%;
    /* background-color: green; */
}
.center-1 h1{
    font-size: 3.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 0px 5px 10px ;
    width: 90%;
    letter-spacing: 5px;
    /* background-color: red; */
}
.center-1 p{
    font-size: 1.5vw;
    padding: 10px 0px 5px 10px ;
    width: 70%;
}
.center .btn{
    width: 70%;
    display: flex;
     padding: 10px 0px 5px 30px ;
    justify-content: center;
    /* background-color: red; */
}
.center-1 button{
    outline: none;
    border: 1px solid black;
    background-color: #000;
    color: #fff;
    padding: 14px 20px;
    font-size: 1.2vw;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
}
.center .center-2{
    width: 53%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /* background-color: red; */
}
.center-2 img{
    /* width: 100%; */
    height: 95%;
    position: absolute;
    right: 0;
    padding: 20px 0px 0px 0px ;
    object-fit: contain;

}
.section1Bottom{
    width: 100%;
    height: 10%;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1Bottom img{
    width: 10%;
}





.section-2{
    width: 100%;
    height: 140vh;
    margin-top: 50px;
    /* background-color: red; */
}
.service{
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}
.service h1{
    font-size: 2.5vw;
    background-color: #9AE975;
    padding: 10px 20px;
    border-radius: 20px;
}
.service p{
    width: 44%;
    line-height: 1.2vw;
    letter-spacing: 1.2px;
    font-size: 1.07vw;
    text-transform: capitalize;
    font-weight: 400;
}


.container{
    width: 100%;
    min-height:80vh;
    height: 220vh;
    margin-bottom: 100px;
    margin-top: 3vw;
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    gap: 10px;
}
.elem{
    width: 48%;
    height: 350px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid black;
    /* background-color: green; */
    padding: 40px 30px;
    display: flex;
    gap: 60px;
    box-shadow: 4px 10px 0px black;
}
.elem-part1{
    width: 50%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.elem-part1 h1{
    padding: 0px 6px;
    letter-spacing: 2px;
    line-height: 3vw;
    border-radius: 20px;
    font-size: 2.7vw;
    text-align: center;
    font-weight: 500;
    background-color: #9AE975;
}
.elem-part1 h3{
    font-size: 1.8vw;
}
.elem-part1 i{
    background-color: black;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    color: white;
    margin-right: 10px;
    padding: 5px 5px;
    font-size: 1.5vw;
    font-weight: 400;
}
.elem-part2{
    width: 50%;
    height: 90%;
    /* background-color: rgb(237, 158, 158); */
}
.elem-part2 img{

    height: 100%;
    object-fit: cover;
}

.black{
    color: #fff;
    background-color: black;
}

.black2 h1{
    background-color: #fff;
    color: #000000;
}
.black i{
    background-color: white;
    color: black;
}




.section-3{
    width: 100%;
    height: 50vh;
    margin-top: 55vw;
    /* background-color: red; */
    display: flex;
    overflow: hidden;
    justify-content: center;
}
.section-3 .info{
    width: 90%;
    height: 100%;
    border-radius: 50px;
    background-color: #EDEDEC;
    padding: 30px 35px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}
.info-part1{
    width: 45%;
    height: 100%;
    /* background-color: green; */
}
.info-part1 h2{
    font-size: 2.5vw;
    margin-bottom: 1.6vw;
}
.info-part1 p{
    font-size: 1vw;
    width: 90%;
    letter-spacing: 1.5px;
}
.info-part1 button{
    font-size: 1.6vw;
    color: #fff;
    padding: 10px 30px;
    background-color: #000;
    outline: none;
    border: none;
    margin-top: 3vw;
    border-radius: 20px;
    letter-spacing: 2px;
}
.info-part2{
    width: 40%;
    height: 100%;
    /* background-color: green; */
}
.info-part2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}





footer{
    width: 100%;
    height: 35vh;
    margin-top: 40vh;
    border-top: 2px solid #B4E58D;
}



.footer-5-column p {
  color: #242222;
}
.footer-5-column .footer-container {
  max-width: 1320px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
}
.footer-5-column .footer-container .footer-navbar-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  margin-right: auto;
  margin-left: auto;
}

.footer-5-column
  .footer-container
  .footer-navbar-container
  .footer-company-details {
  width: 35%;
  max-width: 100%;
  flex: 0 0 auto;
  padding-right: 2rem;
  line-height: 1.428;
}
.footer-5-column
  .footer-container
  .footer-navbar-container
  .footer-company-details
  .footer-logo {
  width: 60px;
}
.footer-5-column
  .footer-container
  .footer-navbar-container
  .footer-company-details
  .footer-logo
  img {
  max-width: 100%;
  height: auto;
}
.footer-5-column
  .footer-container
  .footer-navbar-container
  .footer-company-details
  .footer-logo
  svg {
  width: 100%;
  height: auto;
}
.footer-5-column
  .footer-container
  .footer-navbar-container
  .footer-company-details
  .footer-content {
  margin-top: 1rem;
  font-size: 16px;
  line-height: 1.8;
  padding-right: 1rem;
}
.footer-5-column
  .footer-container
  .footer-navbar-container
  .footer-company-details
  .footer-icons {
  margin-top: 1.5rem;
}
.footer-5-column
  .footer-container
  .footer-navbar-container
  .footer-company-details
  .footer-icons
  ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer-5-column
  .footer-container
  .footer-navbar-container
  .footer-company-details
  .footer-icons
  ul
  li {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 14px;
}
.footer-5-column
  .footer-container
  .footer-navbar-container
  .footer-company-details
  .footer-icons
  ul
  li
  a {
  width: 30px;
  padding: 6px;
}
.footer-5-column .footer-navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  flex-grow: 1;
  line-height: 1.428;
}

.footer-5-column .footer-navbar > .footer-navbar-col {
  width: 25%;
  flex: 0 0 auto;
}
.footer-5-column .footer-navbar .footer-navbar-col h5 {
  margin-bottom: 1.5rem;
  color: #201f1f;
  font-size: 2vw;
  overflow-wrap: break-word;
  padding: 0 0.5rem 0 0;
}
.footer-5-column .footer-navbar .footer-navbar-col ul {
  padding: 0 0.5rem 0 0;
  margin: 0;
}
.footer-5-column .footer-navbar .footer-navbar-col ul li {
  list-style: none;
}
.footer-5-column .footer-navbar .footer-navbar-col ul li:not(:last-child) {
  margin-bottom: 1rem;
}
.footer-5-column .footer-navbar .footer-navbar-col ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #433a3a;
  overflow-wrap: break-word;
}
.footer-5-column .footer-navbar .footer-navbar-col ul li a:hover {
  color: #000;
}

.footer-5-column .footer-copyright {
  padding: 2rem 0;
  border-top: 1px solid rgb(219, 215, 215);
}
.footer-5-column .footer-copyright p {
  font-size: 14px;
  margin-bottom: 0;
}

@media all and (max-width: 1140px) {
  .footer-5-column .footer-container .footer-navbar-container,
  .footer-5-column .footer-navbar {
    row-gap: 3rem;
  }
  .footer-5-column
    .footer-container
    .footer-navbar-container
    .footer-company-details,
  .footer-5-column .footer-container .footer-navbar-container .footer-navbar {
    padding: 0;
    width: 100%;
  }
}
@media all and (max-width: 992px) {
  .footer-5-column .footer-navbar .footer-navbar-col {
    width: 50%;
  }
}
@media all and (max-width: 576px) {
  .footer-5-column .footer-navbar .footer-navbar-col {
    width: 100%;
  }
}